.bad { color: maroon; }
.good { color: green; }
a.covert { text-decoration: none; color: inherit; cursor: default;}
@media print {
	a { text-decoration: none; color: blue; }
	.only-screen { display: none; }
	hr { display: none; }
}
@media screen {
	.only-print { display: none; }
}
